

/* common*/
.container {width: 1000px; margin: 0 auto;}
.row {position:relative; margin:0 20px; }
.under-line {border-bottom:1px solid #ebebeb;}
.blind-text {position:absolute; clip:rect(1px, 1px, 1px, 1px); clip-path: inset(0px 0px 99.9% 99.9%); overflow:hidden; height:1px; width:1px; padding: 0; border:0; top:50%; }

/* header */
.header {padding-top:30px;}
.header  .header-data { font-size: 12px; font-weight: 600; letter-spacing: -0.0024em;  color: #A8A8A8;} 
.header .flex {display:flex; justify-content: space-between; align-items:center;  padding: 4px 0;  }
.header  .header-title {font-size: 32px; font-weight: 600; }
.header  .header-id { position:relative; width:40px; height:40px;  border-radius:5vh; background: url(../icon/icon_192.jpg) no-repeat center/ contain; margin-bottom:4px; }
/* .music */
.music > article .row {padding:20px 0;}
/* bestM */
.bestM .bestM-content { font-weight: 600;  padding-bottom:15px;}
.bestM .bestM-content .text-eyebrow{ font-size: 12px; color:#DA5E7C; }
.bestM .bestM-content .text-headline{font-size: 22px; letter-spacing: -0.0016em; padding:6px 0; font-weight: 600;}
.bestM .bestM-content .text-centered{font-size: 22px; letter-spacing:-0.0007em;color: #818181; font-weight: 300; } 
/* recentM */
.headline {font-size: 20px; font-weight: 600; letter-spacing: -0.0024em;  padding-bottom:9px;}
.recentM .recent-wrap {display:flex;}
.recentM .recent {flex:1; padding-right:2%;}
.recentM .recentM-content {font-size: 15px; letter-spacing: -0.001em; font-weight: 500;}
.recentM .recentM-content .text-headline{padding:7px 0 10px 0;}
.recentM .recentM-content .text-centered{color: #908F94; }
/* nextM */
.next {display:flex; padding-bottom:16px; box-sizing: border-box;}
.next-img  { padding-bottom:8px; }
.nextM-content  {flex:1; padding:12px 8px 26px 8px; letter-spacing: -0.0024em;}
.nextM-content .text-eyebrow {font-size: 12px; color:#DA5E7C;}
.nextM-content .text-headline {font-size: 16px; color:#000; padding:3px 0px 7px;}
.nextM-content .text-centered {font-size: 13px; color:#A1A1A3; letter-spacing:-0.0001em; font-weight: 300; text-overflow: ellipsis; display:-webkit-box; display:box;  -webkit-line-clamp: 2; line-clamp: 2; overflow: hidden; -webkit-box-orient: vertical; box-orient: vertical;}

@media screen and (max-width:1020px) {
.container {width:100%;}

}